<html>
<head>
<title><%=@@jugador1%> vs <%=@@jugador2%></title>
</head>
<body>
<center><h1>Tennis Score</h1></center> 

<a href="/jugador1" id="jugador1"><%=@@jugador1%></a> vs <a href="/jugador2" id="jugador2"><%=@@jugador2%></a>

<center><h1><%= @@puntos_jugador1 %>-<%= @@puntos_jugador2 %></h1></center> 



<body>
</html>
